{% extends "layouts/base.html" %}

{% block content %}
  <h1>{{ dish.name }} Detail
    <a style="float: right" href="{% url 'kitchen_services:dish-update' pk=dish.id %}">Update</a>
  </h1>
  <p><strong>Price: </strong>{{ dish.price }}</p>
  <p><strong>Dish type: </strong>{{ dish.dish_type }}</p>
  <p>{{ dish.description }}</p>
  <h3>Cook{{ dish.cooks.all.count|pluralize }}:</h3>
  {% for cook in dish.cooks.all %}
    <hr>
    <p>{{ cook.first_name }} {{ cook.last_name }}
       {% if cook.years_of_experience >= 1 %}
         with {{ cook.years_of_experience|default:"0" }} year{{ cook.years_of_experience|pluralize }} of experience
       {% elif cook.years_of_experience == 0 %}
         - still mastering the basics, but the future looks delicious!
       {% endif %}
    </p>
  {% endfor %}
  <h2><a href="{% url 'kitchen_services:dish-delete' pk=dish.id %}">Delete</a></h2>
{% endblock %}