{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish Types <a style="float: right" href="{% url 'kitchen_services:dish-type-create' %}">+</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔍" class="btn btn-secondary" >
  </form>
  {% if not dish_type_list %}
    <p>There are unfortunately no dish types :(</p>
  {% else %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Dish Type name</th>
        <th>Number of dishes</th>
        <th>Delete</th>
      </tr>
        {% for dish_type in dish_type_list %}
          <tr>
            <td>{{ dish_type.id }}</td>
            <td>{{ dish_type.name}}</td>
            <td>{{ dish_type.dishes.all.count }}</td>
            <td><a href="{% url 'kitchen_services:dish-type-delete' pk=dish_type.id %}">Delete</a></td>
          </tr>
        {% endfor %}
    </table>
  {% endif %}
{% endblock %}